* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-size: 10px;
}

.card {
    width: 25rem;
    height: 25rem;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    position: relative;
}

.icon {
    cursor: pointer;
}

.place {
    font-size: 1.4rem;
}

label {
    color: navy;
    font-size: 1.3rem;
    border-bottom: 0.15rem solid darkblue;
    margin: 0.3rem 0;
}

.desc {
    font-size: 1.3rem;
}

.star {
    color: gold;
}

.info {
    display: flex;
    justify-content: space-between;
    color: gray;
}

form {
    width: 25rem;
    height: 25rem;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

input,
textarea {
    border: none;
    border-bottom: 1px solid gray;
    outline: none;
}

input::placeholder,
textarea::placeholder {
    font-size: 1.2rem;
    color: black;
}

.submitButton {
    border: none;
    padding: 0.5rem;
    border-radius: 0.5rem;
    color: white;
    background-color: rgb(253, 123, 100);
}

.submitButton:hover {
    transition: 0.5s;
    background-color: tomato;
    cursor: pointer;
}
